# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.0x09-unity_ar_business_card.iml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\holberton\Documents\unity_projects\holbertonschool-unity\0x09-unity_ar_business_card\.idea\.idea.0x09-unity_ar_business_card\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
